@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbs {
  text-align: center;
}

.menu-horizontal > li .active {
  background-color: transparent !important;
  color: #eeff25 !important;
}

.navbar a:hover {
  background-color: transparent !important;
  color: white !important;
  outline: none;
  outline-offset: 0;
}
.featured-item {
  background-image: url("./assets/home/featured.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  background-attachment: fixed;
  position: relative;
  z-index: -10;
}
.featured-item::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: -1;
}
.react-tabs__tab {
  padding: 0 !important;
  margin: 6px 12px;
  font-weight: 500;
}
.react-tabs__tab--selected {
  border: none !important;
  font-weight: 700;
  color: #bb8506 !important;
  position: relative;
  background-color: transparent !important;
  padding: 0 !important;
  margin: 6px 12px;
}
.react-tabs__tab--selected::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -3px;
  z-index: 50;
  background-color: #bb8506;
}
